/*Header*/
@media(max-width:1200px){
    .header{
        padding: 0 30px;
    }
    @media(max-width:767px){
        .header .social_network{
            display:none;
        }
        .hamburger_header{
            display:grid;
        }
        .header .pages_site{
            display: none;
        }
        .header .logo div{
            margin: auto 0;
        }
    }
}

/*our doctor*/
@media(max-width:1200px){
    .block_our_doctor > div:first-child{
        display:none;
    }
    .block_our_doctor{
        text-align:center;
        max-width:700px;
        margin:50px auto;
    }
    .block_our_doctor > div{
        margin:0 auto;
        width:90%;
    }
    @media (max-width:600px) {
        .block_our_doctor p{
            height: 210px;
            overflow: hidden;
        }
        .block_our_doctor p:first-of-type{
            display:none;
        }
        .block_our_doctor{
            height:200px
        }
    }
}


/*slider*/
@media (max-width:1200px) {
    .current_slide:nth-child(5),
    .current_slide:nth-child(6){/*add*/
        display:inline
    }
    .nav_slider{
        width:761px;
        margin:50px auto 0 auto;
    }
    .slider{
        width:761px;
        margin:0 auto;
    }
    @media(max-width:800px){
        .nav_slider span:nth-last-child(2),
        .nav_slider span:nth-last-child(3),
        .nav_slider span:nth-last-child(4){/*delete unnecessary*/
            display:none
        }
        .nav_slider{
            width:200px;
        }
        .nav_slider span{
            margin:0 auto;
        }
        .slider{
            width:350px;
        }
    }
    @media (max-width:350px) {
        .slider{
            width:320px;
        }
    }
}



/*Footer*/
@media(max-width:1000px){
    .block_footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .item_footer_1{
        grid-column:1/3;
        text-align:center;
        margin:20px auto 20px auto;
    }
    .item_footer_2,.item_footer_3{
        margin: 0 auto;
    }
    .item_footer_3 > div > div{/*отступы для соцсетей и их названиями*/
        width:calc(35%/2);
    }
    .item_footer_4{
        grid-column:1/3;
        width:400px;
        margin: 20px auto 30px auto;        
    }
    @media(max-width:670px){
        .item_footer_4{
            display:none;
        }
        .item_footer_2{
            display:none;
        }
        .item_footer_3{/*horiz align soc*/
            display:flex;
            grid-column:1/3;
            margin:0 auto;
        }
        .item_footer_3 > div > div:last-of-type{/*del name soc net*/
            display:none;
        }
        .item_footer_3 > div:not(:last-child){
            margin:0 auto 20px auto;
        }
        .item_footer_3 p{
            display:none;
        }
        .item_footer_1 p{
            margin:0 auto;
            max-width:250px;
        }
        .item_footer_1 p:first-of-type{
            margin:10px auto;
            max-width:150px;
            max-height:50px;
        }
        .item_footer_1{
            max-width:250px;
        }
    }
}