/*Header*/
@media(max-width:1200px){
    .header{
        padding: 0 30px;
    }
    @media(max-width:767px){
        .header .social_network{
            display:none;
        }
        .hamburger_header{
            display:grid;
        }
        .header .pages_site{
            display: none;
        }
        .header .logo div{
            margin: auto 0;
        }
    }
}

@media(max-width:1100px){/*Intro*/
    .second_child_intro{
        display:none;
    }
    .first_child_intro{
        text-align:center;
        margin:0 auto;
    }
    .intro{
        margin:20px 0 50px 0;
    }
}

@media(max-width:426px){/*Block phone*/
    .block_phone{
        display:none;
    }
}

@media(max-width:1100px){/*Service description*/
    .block_service_description{
        grid-template-columns: 1fr 1fr;
        grid-auto-flow:row;
        justify-items:center;
    }
    .item_service_description{
        margin-bottom: 15px;
    }
    @media(max-width:426px){
        .item_service_description{
            width:200px;
            height: 100px;
        }
        .item_service_description img{
            display:none;
        }
        .item_service_description p{
            padding: 0 10px;
        }
    }
    @media (max-width:376px){
        .block_service_description{
            grid-template-columns: 1fr;
        }
        .item_service_description{
            margin:15px 0;
        }
    }
}

/*block recommendation*/
@media(max-width:1100px){
    .img_of_recommendation{
        display:none;
    }
    .block_of_recommendation{
        text-align:center;
    }
    .text_recomm{
        max-width:500px;
    }
    .text_of_recommendation{
        margin:0 auto;
    }
}

/*Block umbrella*/
@media(max-width:860px){
    .block_our_umbrella .item_2,.block_our_umbrella .item_3,.block_our_umbrella .item_4,.block_our_umbrella .item_5,.block_our_umbrella .item_6,.block_our_umbrella .item_7{
        display: none;
    }
}

/*block about doctor*/
@media(max-width:1100px){
    .block_about_doctors{
        grid-template-rows:1fr 1fr;
        justify-content: space-evenly;
    }
    .block_about_doctors > div{
        margin-bottom:15px
    }
    @media(max-width:560px){
        .block_about_doctors{
            display:flex;
            flex-direction:column;
        }
    }
}

/*Slider*/
@media(max-width:721px){
    .slides > div:first-child,
    .slides > div:last-child{
        display:none;
    }
    .slides > div{
        margin:0 auto;
    }
}

/*Our block*/
@media(max-width:1100px){
    .block_articles{/*vert align block_articles*/
        display:grid;
    }
    .block_articles > .item_1,
    .block_articles > .item_2,
    .block_articles > .item_3{
        width:92%;
        margin:0 auto 50px auto;/*центрирование самого блока и отступы вниз*/
        text-align:center;
    }
    .block_articles > .item_1 > div > div,
    .block_articles > .item_2 > div > div,
    .block_articles > .item_3 > div > div{
        margin:0 auto;/*centering likes, comments...*/
        max-width:360px;
    }
    .block_articles > .item_1 footer > p,
    .block_articles > .item_2 footer > p,
    .block_articles > .item_3 footer > p{
        max-width:360px;
        margin:0 auto;
    }
    .block_articles > .item_1 > div,
    .block_articles > .item_2 > div,
    .block_articles > .item_3 > div{
        float:none;
        margin:0 auto;
        max-width:100%;
    }

    @media(max-width:426px){
        .block_articles > .item_1,
        .block_articles > .item_2,
        .block_articles > .item_3{
            margin:0;
        }
    }
}

/*Footer*/
@media (max-width:1000px) {
    .block_footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .item_footer_1{
        grid-column:1/3;
        text-align:center;
        margin:20px auto 20px auto;
    }
    .item_footer_2,.item_footer_3{
        margin: 0 auto;
    }
    .item_footer_3 > div > div{/*отступы для соцсетей и их названиями*/
        width:calc(35%/2);
    }
    .item_footer_4{
        grid-column:1/3;
        width:400px;
        margin: 20px auto 30px auto;        
    }
    @media(max-width:670px){
        .item_footer_4{
            display:none;
        }
        .item_footer_2{
            display:none;
        }
        .item_footer_3{/*horiz align soc*/
            display:flex;
            grid-column:1/3;
            margin:0 auto;
        }
        .item_footer_3 > div > div:last-of-type{/*del name soc net*/
            display:none;
        }
        .item_footer_3 > div:not(:last-child){
            margin:0 auto 20px auto;
        }
        .item_footer_3 p{
            display:none;
        }
        .item_footer_1 p{
            margin:0 auto;
            max-width:250px;
        }
        .item_footer_1 p:first-of-type{
            margin:10px auto;
            max-width:150px;
            max-height:50px;
        }
        .item_footer_1{
            max-width:250px;
        }
    }
}
