*{
    text-decoration:none;
}
a{
    color:black;
}
@font-face {
    font-family: "manrope-regular";
    src: url(../../Source/Fonts/Manrope-Regular.ttf);
}
@font-face {
    font-family: "helvetica-regular";
    src: url(../../Source/Fonts/Helvetica.ttf);
}
/*Header*/
.pages_site li{
    font-family:"manrope-regular";
    font-size:14px;
    line-height: 20px;
}

/*Intro*/
#welcome{
    color:#0096FF;
    font-family:"manrope-regular";
    font-size:25px;
    line-height:34,15px;
    Letter-spacing:-0.38px;
}
#description{
    color:#18191F;
    font-family: "manrope-regular";
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
}
#lorem_intro{
    font-family: "manrope-regular";
    font-size: 18px;
    font-weight: 1;
    line-height: 32px;
    letter-spacing: 0em;
}
#make_appointment{
    font-family: "manrope-regular";
    font-weight: 1;
    font-size: 20px;
    line-height: 30px;
    color:#FFFFFF;
}

/*Block phone*/
.block_phone, .block_phone a{
    font-family: "helvetica-regular";
    font-weight:700;
    font-size:29px;
    line-height: 33.35px;
    color: #0096FF;
}

/*Service description*/
.item_service_description{
    color:white;
    font-family: "helvetica-regular";
    Line-height:16,1px;
}
.item_service_description div p:first-child{
    font-size:14px;
}
.item_service_description div p:last-child{
    font-size:12px;
}

/*recommendation*/
#RELAX_YOUR_DENTIST_KNOWS_BEST{
    font-family: "manrope-regular";
    font-size: 20px;
    font-weight: 1;
    line-height: 27px;
    letter-spacing: -0.37692299485206604px;
}
.heading_text_recomm{
    font-family: "manrope-regular";
    font-size: 20px;
    font-weight: 1;
    line-height: 27px;
    letter-spacing: 0px;
    color: #0096FF;
}
.text_recomm{
    font-family: "Manrope-regular";
    font-size: 14px;
    font-weight: 1;
    line-height: 19px;
    letter-spacing: 0px;
}

/*our umbrella*/
.block_our_umbrella .item_1 p:first-child{
    font-family: "Manrope-regular";
    font-size: 36px;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
}
.block_our_umbrella .item_1 p:last-child{
    font-family: "Manrope-regular";
    font-size: 36px;
    font-weight: 1;
    line-height: 64px;
    letter-spacing: 0em;
}
.block_our_umbrella .heading{
    font-family: "Manrope-regular";
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
}
.block_our_umbrella .text{
    font-family: "Manrope-regular";
    font-size: 16px;
    font-weight: 1;
    line-height: 26px;
    letter-spacing: 0em;
}
.block_our_umbrella .link_item a{
    font-family: "Manrope-regular";
    font-size: 12px;
    font-weight: 1;
    line-height: 16px;
    letter-spacing: 0px;
    color: #0096FF;
}
.block_our_umbrella .item_8 a{
    font-family: "Manrope-regular";
    font-size: 20px;
    font-weight: 1;
    line-height: 30px;
    letter-spacing: 0em;
}

/*About personal*/
.block_about_doctors .name{
    font-family: "Manrope-regular";
    font-size: 20px;
    font-style: normal;
    font-weight: 1;
    line-height: 27px;
    letter-spacing: -0.37692299485206604px;
}
.block_about_doctors .job{
    font-family: "Manrope-regular";
    font-size: 16px;
    font-style: normal;
    font-weight: 1;
    line-height: 21,86px;
    letter-spacing: -0.37692299485206604px;
    color: #0096FF;
}
.block_about_personal .heading{
    font-family: "Manrope-regular";
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    letter-spacing: 0em;
}