*{
    margin:0;
    padding:0;
}
/*Эти два контейннерта используется лишь в 3 первых блоках*/
.container{
    max-width:1280px;
    margin:0 auto;
}
.container_for_padding{
    max-width:1150px;/*Не 1170 ради отступов*/
    margin:0 auto;
    padding:0 10px;
}

/*Адекаватный контейнер*/
.container_2{
    max-width:1170px;
    margin:0 auto;
}

/* Header */
.block_header{/*Общее начертание*/
    display:flex;
    height:72px;
    justify-content: space-between;
}
.item_header{
    width:300px;
}

.pages_site ul{/*Pages site*/
    display:flex;
}
.pages_site{/*Вертикальное расположние*/
    display:grid;
    align-items:center;
}
.pages_site li:not(:last-child){/*Отступы между ними*/
    margin-right:32px;
}
.pages_site li:hover{
    background-color: rgba(200, 250, 247, 0.7);
    border-radius: 15px;
    transition-duration: 500ms;
}

.logo{/*Logo*/
    display:grid;
}
.logo > div{
    margin:auto;
    display:flex;
}
.logo a{
    align-self:center;
    margin-left:10px;
}

.social_network{/*Soc net*/
    display:flex;
}
.container_soc{/*Container soc*/
    margin:auto 0 auto auto;
    display:flex;
    align-self:flex-end;
}
.social_network a{
    margin:auto 0;
}
.padding_soc{/*Margin меня не устроил*/
    width:30px;
}


/* Intro */
.intro{
    margin:0 0 100px 0;
}
.intro_block{
    display:flex;/*Расположение главных блоков*/
    justify-content: space-between;/* for big laptop*/
}
.first_child_intro{
    display:grid;/*Центрирование текста слева*/
    margin-left:55px;
}
.first_child_intro div{
    margin:auto 0;/*Центрирование текста слева*/
}
.make_appointment_button{/*make_appointment_button*/
    width: 248px;
    height: 64px;
    border-radius:10px;
    background-color:#0096FF;
    display:table-cell;
    vertical-align: middle;
}
#make_appointment{
    text-align: center;
}
#description{
    margin-top:15px;
    margin-bottom:16px;
}
#lorem_intro{
    margin-bottom:33px;
}

/*Block phone*/
.block_phone{
    background-color:#F0F6FB;
    height:148px;
    display:flex;
}
.block_phone div{
    width:33%;
    text-align: center;
    margin:auto 0;
}

/*Service_description*/
.block_service_description{
    display:grid;
    grid-auto-flow:column;
    justify-content: space-between;
    margin:72px 0 100px 0;
}
.item_service_description{/*align blocks*/
    width:250px;
    height: 180px;
    background-color: #0096FF;
    border-radius: 20px;
    display:grid;
}
.padding_item_service_description{/*padding in item*/
    max-width:220px;
    max-height: 220px;
    margin:auto;
    display:grid;/*vertical align child*/
}
.padding_item_service_description div:first-child{/*Img*/
    justify-self:end;
    margin-right:20px;
}
.padding_item_service_description div p:first-child{/*padding child text*/
    margin:5px 0;
}

/*Block_of_recommendation*/
.block_of_recommendation{/*Общее расположение и круг сзади*/
    display:flex;
    background: url(../../Source/Images/img_1_recomendation.svg) no-repeat center top;
    align-items:center;
}
#RELAX_YOUR_DENTIST_KNOWS_BEST{/*Отсутпы между блоков текста*/
    margin:0 0 28px 0;
}
.text_recomm{/*Отсутпы между блоков текста*/
    margin:3px 0 25px 0;
}

/*our umbrella*/
.block_our_umbrella{/*Общее начертание*/
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.block_our_umbrella .item_1,.item_8{/*align first and last block*/
    grid-column:1/4;
    text-align:center;
}
.block_our_umbrella .item_1{/*padding between heading and items*/
    margin:70px 0 81px 0;
}
.block_our_umbrella .text_item{/*padding between text and link*/
    margin: 0 0 40px 0;
}
.block_our_umbrella .link_item{/*padding between link and text and "Explore all"*/
    margin: 0 0 85px 0;
}
.block_our_umbrella .link_item img{/*padding between img "arrow" and text "explore"*/
    margin-left:9px;
}
.block_our_umbrella .text{/*width text*/
    width:286px;
}
.block_our_umbrella .child_item_3,.child_item_6{/*align content in blocks*/
    max-width:300px;
    margin:0 auto;
}
.block_our_umbrella .child_item_4,.child_item_7{/*align content in blocks*/
    max-width:300px;
    float:right;
}
