*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#like{/*size like*/
    width:20px;
    height:20px;
}

/*Эти два контейннерта используется лишь в 3 первых блоках*/
.container{
    max-width:1280px;
    margin:0 auto;
}
.container_for_padding{
    max-width:1150px;/*Не 1170 ради отступов*/
    margin:0 auto;
    padding:0 10px;
}

/*Адекаватный контейнер*/
.container_2{
    max-width:1170px;
    margin:0 auto;
}

/*Header*/
.header{/*Общее начертание*/
    display:grid;
    grid-auto-flow:column;
    justify-content: space-between;
    height:72px;
}
.item_header:first-child,
.item_header:nth-child(3){
    width:250px;
}
.pages_site ul{/*Pages site*/
    display:flex;
}
.pages_site{/*Вертикальное расположние*/
    display:grid;
    align-items:center;
}
.pages_site li:not(:last-child){/*Отступы между ними*/
    margin-right:32px;
}
.pages_site li:hover{
    background-color: rgba(200, 250, 247, 0.7);
    border-radius: 15px;
    transition-duration: 500ms;
}
.logo{/*Logo*/
    display:grid;
}
.logo > div{
    margin:auto;
    display:flex;
}
.logo a{
    align-self:center;
    margin-left:10px;
}
.social_network{/*Soc net*/
    display:flex;
}
.container_soc{/*Container soc*/
    margin:auto 0 auto auto;
    display:flex;
    align-self:flex-end;
}
.social_network a{
    margin:auto 0;
}
.padding_soc{/*Margin меня не устроил*/
    width:30px;
}
.hamburger_header{/*general arrangement button hamburger*/
    height:15px;
    display:none;/*before mob ver*/
    margin:auto 0;
}
.hamburger_header div{/*style button hamburger*/
    height: 3px;
    background:black;
    width:20px;
}
.hamburger_header div:not(:first-child){
    margin:3px 0 0 0;/*vert align sticks(nutton hamburger)*/
}
@keyframes open_menu_anima {
    from{height:0; 
        width:0}
    to{ height:149px;
        width: 200px;}
}

.menu{/*open hamburger*/
    position: absolute;
    right:0;
    animation:open_menu_anima 1000ms forwards;
    background-color: white;
    display:none;
    justify-content: space-around;
    overflow: hidden;
}
.menu > div:first-child ul{
    list-style:none;
    margin-top:10px;
}
.menu > div:first-child :not(:last-child){/*vert align pages_site*/
    margin-bottom:10px;
}
.menu > div:last-child div{/*Soc net*/
    display:grid;
    margin-top:10px;
}
.menu > div:last-child div :not(:last-child){/*vert align soc net*/
    margin:0 auto 10px auto;
}


/* Intro */
.intro{
    margin:0 0 100px 0;
}
.intro_block{
    display:flex;/*Расположение главных блоков*/
    justify-content: space-between;/* for big laptop*/
}
.first_child_intro{
    display:grid;/*Центрирование текста слева*/
    margin-left:55px;
}
.first_child_intro div{
    margin:auto 0;/*Центрирование текста слева*/
}
.make_appointment_button{/*make_appointment_button*/
    width: 248px;
    height: 64px;
    border-radius:10px;
    background-color:#0096FF;
    display:table-cell;
    vertical-align: middle;
}
#make_appointment{
    text-align: center;
}
#description{
    margin-top:15px;
    margin-bottom:16px;
}
#lorem_intro{
    margin-bottom:33px;
}

/*Block phone*/
.block_phone{
    background-color:#F0F6FB;
    height:148px;
    display:flex;
}
.block_phone div{
    width:33%;
    text-align: center;
    margin:auto 0;
}

/*Service_description*/
.block_service_description{
    display:grid;
    grid-auto-flow:column;
    justify-content: space-between;
    margin:72px 0 100px 0;
}
.item_service_description{/*align blocks*/
    width:250px;
    height: 180px;
    background-color: #0096FF;
    border-radius: 20px;
    display:grid;
}
.padding_item_service_description{/*padding in item*/
    max-width:220px;
    max-height: 220px;
    margin:auto;
    display:grid;/*vertical align child*/
}
.padding_item_service_description div:first-child{/*Img*/
    justify-self:end;
    margin-right:20px;
}
.padding_item_service_description div p:first-child{/*padding child text*/
    margin:5px 0;
}

/*Block_of_recommendation*/
.block_of_recommendation{/*Общее расположение и круг сзади*/
    display:flex;
    background: url(../../Source/Images/img_1_recomendation.svg) no-repeat center top;
    align-items:center;
}
#RELAX_YOUR_DENTIST_KNOWS_BEST{/*Отсутпы между блоков текста*/
    margin:0 0 28px 0;
}
.text_recomm{/*Отсутпы между блоков текста*/
    margin:3px 0 25px 0;
}

/*our umbrella*/
.block_our_umbrella{/*Общее начертание*/
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
.block_our_umbrella .item_1,.item_8{/*align first and last block*/
    grid-column:1/4;
    text-align:center;
}
.block_our_umbrella .item_1{/*padding between heading and items*/
    margin:70px 0 81px 0;
}
.block_our_umbrella .text_item{/*padding between text and link*/
    margin: 0 0 40px 0;
}
.block_our_umbrella .link_item{/*padding between link and text and "Explore all"*/
    margin: 0 0 85px 0;
}
.block_our_umbrella .link_item img{/*padding between img "arrow" and text "explore"*/
    margin-left:9px;
}
.block_our_umbrella .text{/*width text*/
    width:286px;
}
.block_our_umbrella .child_item_3,.child_item_6{/*align content in blocks*/
    max-width:300px;
    margin:0 auto;
}
.block_our_umbrella .child_item_4,.child_item_7{/*align content in blocks*/
    max-width:300px;
    float:right;
}


/*About personal*/
.block_about_personal .heading{/*Heading*/
    text-align: center;
    margin:100px 0 40px 0;
}
.block_about_doctors{/*Общее размещение*/
    display:grid;
    grid-auto-flow:column;
    text-align: center;
    justify-content: space-between;
}
.block_about_doctors .name{/*Отсуп от имени к работе*/
    margin:16px 0 0 0;
}
.block_about_doctors .job{
    margin:5px 0 5px 0;
}
.block_about_doctors a:not(:last-child){/*Горизонтальные отступы для соц сетей*/
    margin-right:15px;
}


/*Slider*/
.block_slider > .heading{/*heading slider*/
    text-align:center;
    margin:110px 0 50px 0;
}
.slides{/*horiz align main blocks*/
    display:flex;
    justify-content: space-between;
}
.slides > div{
    display:grid;/*for vert align slide*/
    background: url(../../Source/Images/background_comment.svg)center top;/*background image "cloud" comment*/
}
.slides p:first-of-type,/*width for heading slide*/
.slides p:nth-child(2),/*width for comment*/
.slides p:nth-child(3),/*width for name*/
.slides p:last-child{/*width for job*/
    max-width:270px;
}
.slides > div > div:first-child{
    align-self: end;/*vert align slide*/
    display:grid;/*for align img*/
    text-align:center;
}
.slides > div > div img{/*align photo profile*/
    justify-self: center;
    margin:90px 0 9px 0;
}
.slide_1,/*Left and Right block below is*/
.slide_3{
    margin-top:50px;
}
.switches > div{/*switches*/
    display:flex;
    max-width:50px;
    margin: 23px auto 0 auto;
    justify-content:space-around
}
input[type="radio"]:checked{
    background-color: #e145a3;
}


/*Our_blog(articles)*/
.our_block{/*margin-botton main block*/
    margin-bottom:75px;
}
.block_our_block .heading{/*padding between this block and slider*/
    text-align:center;
    margin-top:80px;
}
.block_our_block > .heading p:last-child{
    margin:0 auto 43px auto;
    max-width:540px;
}
.block_articles{/*общее расположение*/
    display:flex;
}
.block_articles article > div > div{/*Data, like, author and icon*/
    display:flex;
}
.block_articles article > div .author{
    margin-right:38px;
}
.quantity_likes span:first-child:hover{
    cursor:pointer;
}
.block_articles article > div .quantity_likes,
.block_articles article > div .date{
    margin-right:22px;
}
.block_articles > .item_3 > div{
    width:92%;
    float:right
}
.block_articles > .item_2 > div{
    width:92%;
    margin:0 auto;
}
.quantity_likes, .quantity_comment{
    display:flex;
}
.date, .quantity_likes span, .quantity_comment span{
    margin:auto 0;
    margin-right:6px;
}
.block_articles footer p:first-child{/*vert padd in footer*/
    margin:10px 0 6px 0;
}

/*Footer*/
.footer{/*background-color*/
    width:100%;
    background: #0096FF;
}
.block_footer{/*horiz align items*/
    display:flex;
}
.item_footer{/*== width items & main block margin*/
    margin:40px 0 37px 0;
    --width-w:25%;
    width:var(--width-w);
}
.item_footer_1{/*width first block footer*/
    width:calc(var(--width-w)+450px);
}
.item_footer_1 p:first-of-type{/*отступы от заголовка*/
    margin: 36px 0 30px 0;
}
.item_footer_2 div:not(:last-child){/*vert margin between items*/
    margin:0 0 19px 0;
}
.item_footer_2 div:last-child{/*margin-top for last item*/
    margin-top:29px;
}
.item_footer_3{/*vert align items*/
    display:grid;
}
.item_footer_3 > div{/*горизонт расположение соц сетей*/
    display:flex;
}
.item_footer_3 > div > div{/*отступы для соцсетей и их названиями*/
    width:calc(15%/2);
}
.item_footer_4 p:last-of-type{/*width & vert margin center item*/
    margin:30px 0 17px;
    width:200px;
}
/*style for input in footer*/
.footer form {
    position: relative;
}
.footer input {
    display: block;
    width: 100%;
    height: 27px;
    padding: 0 7px;
    outline:none;
    border:none;
}
.footer button {
    position: absolute;
    bottom: .2em;
    right: .4em;
    height: 2.3em;
    width:7em;
    outline:none;
    border:1px solid #0096FF;
    cursor: pointer;
    background-color: #0096FF;
}